.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 200px;
}
.nav-items{
  padding: 0px 20px;

}
.nav-items > ul { 
  font-size: 24px;
  display: flex;
  list-style: none;

}
.nav-items >ul > li {
  padding: 10px;
  margin: 10px;
}
.res-card{
  width:300px;
  /* height:300px; */
  padding: 5px;
}
.search{
  margin: 10px;
}
.res-logo{
  width:100%;
  margin: 5px;
}
.res-card:hover{
  box-shadow: 2px 2px 10px #0f0f0f;
  cursor: pointer;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}